body {
    background-color: white;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
    a {
        color: cyan;
    }
}
.logo {
    float: right;
}